* {
  box-sizing: border-box;
}

.pictureBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  width: 800px;
  height: 600px;
}

.hiddenContent {
  display: none;
}

